@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-normal-responsive {
    @apply xl:text-[23px] lg:text-[22px] md:text-[20px] sm:text-[18px] xs:text-[18px] 2xs:text-[18px];
  }

  .text-heading-responsive {
    @apply xl:text-[48px] lg:text-[40px] md:text-[40px] sm:text-[40px] xs:text-[40px] 2xs:text-[40px];
  }

  .text-small-responsive {
    @apply xl:text-[19px] lg:text-[18px] md:text-[18px] sm:text-[18px] xs:text-[18px] 2xs:text-[18px];
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
}

.animate-gallery-slide {
  animation: gallery-slide 20s linear infinite;
}

@keyframes gallery-slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-2180px);
  }
}

@media (hover: hover) {
  .animate-gallery-slide:hover {
    animation-play-state: paused;
  }
}

.font-playball {
  font-family: 'Playball';
}


.poppins-thin {
  font-family: "Poppins";
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins";
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins";
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins";
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins";
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins";
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins";
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins";
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins";
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins";
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins";
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins";
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins";
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins";
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins";
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins";
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins";
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins";
  font-weight: 900;
  font-style: italic;
}

.playball-regular {
  font-family: "Playball";
  font-weight: 400;
  font-style: normal;
}

.container-wrapper {
  left: 120px;
  right: 120px;
}

html {
  scroll-behavior: smooth;
}


body {
  overflow-x: hidden;
}



